body{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to bottom, #000000, #2c2c2c);
    height: auto;
    margin: 0;
    padding: 0;
}
  h1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:#d32358;
}
 .container_alinhar{
  display: flex;
  justify-content: center;
 }
  .container_Principal{
   
    background-color: white;
    padding: 20px;
    height: auto;
    width: 30em;
  }
  
  .Container_Alinhado{
   display: flex;
  }
  .Container_Celular{
    display: flex;
    
  }
  #country-code{
    width: 120px;
  }
  
  .display{
    display: flex;
    justify-content: center;
  }
  .field__inputreturn{
    padding-top: -50px;
  }
  
  .Container_Selecao{
    margin-top: 25px;
    
    
  }
  .codigo{
    margin-top: -1px;
  }
  .pagamento{
    background-color: #fafafa;
    padding: 9px;
    
  }
  .mensal ,.anual{
    padding: 9px;
    margin-top: -6px;
    padding-right: 55px;
    margin-right: 6px;
  }
  .teste{
    width: 95%;
  }
  .parcela{
    
    width: 460px;
    margin-top: -10px;
    height: 35px;
   
  
  }
  .form-group{
   margin-left: 0.8em;
   margin-bottom: 1.5em;
   margin-top: 0.3em;
  }
  .botao{
    width: 100%;
    height: 50px;
    margin-top: 40px;
    background-color: rgb(0, 230, 0);
    color: white;
    
  }
  
  #phone {
    font-size: 14px; /* Aumenta o tamanho da fonte */
    padding: 10px 18px; /* Aumenta o padding para tornar o campo maior */
    border: 1px solid #ccc;
    border-radius: 4px;
   
    
    
  }
  
  /* Estilos para o container do intl-tel-input */
  .iti {
    
    margin-top: -55px;
    margin-left: 42%;
  }
  
  
  /* Estilos para o dropdown do DDI */
  .iti__flag-container {
    padding: 10px;
    margin-bottom: 15px;
  }
  
  .field__inputs{
    border: none;
    border: 1px solid var(--color);
    font: inherit;
    padding: 0.5em;
    transition: all 0.3s ease-in-out;
    width: 37%;
    margin-top: 19px;
    
  }
  
  .center{
    display: flex;
    justify-content: center;
  }
   
  
  /* cartao, boleto e pix*/
  
  #tabs {
    display: flex;
    justify-content: space-between; /* Espaçamento igual entre as abas */
  }
  
  .tab {
    cursor: pointer;
    padding: 10px 42px;
    border: 1px solid #ccc;
    display: inline-block;
    background-color: #f1f1f1;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
    padding-top: 15px;
  }
  
  .tab:hover, .tab.active {
   
    border-color: rgba(66, 153, 225, var(--text-opacity));
    color: rgb(67, 133, 255); /* Cor do texto ao selecionar */
  }
  .tab:hover .pix {
    filter: invert(27%) sepia(99%) saturate(4142%) hue-rotate(204deg) brightness(91%) contrast(97%);
  }
  .content {
    border: 1px solid #ccc;
    display: none;
    margin-top: 15px;
  }
  
  .icon {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 8px;
  }
  .material-symbols-outlined{
    padding-right: 5px;
  }
  .Cartao_posicao{
    display: flex;
  }
  .cartao_flex{
    margin-top: 4px;
  }
  .tab.active .pix {
    filter: invert(27%) sepia(99%) saturate(4142%) hue-rotate(204deg) brightness(91%) contrast(97%);
  }

 
  
  
  /*container preto*/
  .email-container {
    font-family: Arial, sans-serif;
    width: 94%;
    background-color: aquamarine;
    padding: 16px;
    border-radius: 5px;
    margin-top: 20px;
   
  }
  
  .email-container label {
    margin-bottom: 10px;
    display: block;
  }
  
  .input-group {
    display: flex;
    align-items: center;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .icon-envelope {
    padding: 10px;
    background-color: #e7e7e7;
    color: #333;
  }
  
  .input-group input[type="email"] {
    border: none;
    padding: 10px;
    flex-grow: 1;
  }
  
  .email-container button {
    background-color: #04f50e;
    color: white;
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .email-container button:hover {
    background-color: #45a049;
  }
  
  /* boleto*/
  
  
  .container-interno {
    background-color: #ffe0cc; /* Cor de pele */
    padding: 15px;
    border-radius: 5px;
  }
  
  
  li{
    padding-top: 2px;
  }


  /*  box */
  .input_box {
  position: relative;
  margin-top: 19px;
  
}

.input_box input[type="text"] {
  width: 96%;
  padding: 0.5em;
  border: none;
  border: 1px solid #ccc;
  font: inherit;
  transition: all 0.3s ease-in-out;

  
}
.input_box input[type="name"] {
  width: 37%;
  padding: 0.5em;
  border: none;
  border: 1px solid #ccc;
  font: inherit;
  transition: all 0.3s ease-in-out;
}


.input_box label {
  position: absolute;
  top: 25%;
  transform: translateY(-50%);
  left: 0.5em;
  margin-top: 10px;
  color: #ccc;
  z-index: 1;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
  
}

.input_box input:focus + label,.input_box input:valid + label {
  top: -19px;
  font-size: 0.8em;
  color:  #000000;
  box-shadow: #000000 ;
  
  
  
}

.topo{
  display: flex;
  justify-content: center;
  margin-left: -3.0em;
  margin-top: 1.0em;
  margin-bottom: 1.0em;
  
 
 
  
}
.capa-imagem{
  max-height: 140px;
    height: auto;
    width: auto;
    max-width: 128px;
    margin-right: 1.0em;
}

.temporizador {
  display: flex;
  align-items: center;
  padding: 30px;
  font-family: Arial, sans-serif;
  justify-content: center;
  font-size: 35px;
  
}
#relogio {
  font-size: 40px;
  padding-right: 10px;
  padding-left: 10px;
  
}
.material-icons-outlined {
  font-size: 70px; /* Tamanho do ícone */
  transition: transform 0.5s linear; /* Suaviza a transição da rotação */
}
.garantia-imagem{
  display:none;
}
.topo_responsivo{
  display: none;
}
.container_tempo{
  background-color: #d32358;
  color: #ffffff;
  
 padding: 10px;
  
 }
 



/* Estilos para dispositivos móveis (tela menor ou igual a 550px) */

@media (max-width: 550px) {
 
  .garantia-imagem{
    display: flex;
    
    width: 100%;
    margin-bottom: 1.0em;
  }
 
  .topo {
    margin-left: auto; /* adicionado para alinhar à direita */
    display: flex;
    justify-content: center;
    
    margin-top: 1.0em;
    margin-bottom: 1.0em;
  }
  .topo_responsivo {
    margin-left: auto; /* adicionado para alinhar à direita */
    display: flex;
    justify-content: center;
    
    margin-top: 1.0em;
    margin-bottom: 1.0em;
  }
  
  .capa-imagem {
    max-height: 140px;
    height: auto;
    width: auto;
    max-width: 128px;
    margin-right: 1.0em;
  }
  
  h1 {
    font-size: 1.0em;
  }
  


  .display {
    flex-wrap: wrap;
  }
  .Container_Selecao:first-child {
    margin-right: auto;
  }
  .Container_Selecao:last-child {
    margin-left: auto;
  }
  .input_box {
    width: 100%;
  }
  .teste {
    width: 100%;
  }
  .codigo_seguranca {
    width: 100%;
  }
  .mensal, .anual {
    
    padding: 7px;
    margin-top: -6px;
    padding-right: 77px;
    margin-right: 0px;
}
  .center{
    display: flex;
    flex-direction: column;
  }
  .container_Principal {
    width: 100%;
    padding: 10px;
  }
  .codigo_seguranca{
    display: flex;
    flex-direction: column;
  }
  .field__inputreturn {
    padding-top: 0;
  }

  .parcela {
    width: 101%;
    
  }
  .botao {
    width: 95%;
    height: 35px;
    margin-top: 15px;
  }
  .iti {
    margin-top: 0;
    margin-left: 0;
  }
  .iti__flag-container {
    padding: 5px;
    margin-bottom: 10px;
  }
  .tab {
    padding: 5px 15px;
  }
  .content {
    margin-top: 10px;
  }
  .email-container {
    width: auto;
    padding: 10px;
  }
  .input-group {
    flex-wrap: wrap;
  }
  .icon-envelope {
    padding: 5px;
  }
  .input-group input[type="email"] {
    flex-grow: 1;
    padding: 5px;
  }
  .email-container button {
    padding: 5px 10px;
    margin-top: 10px;
  }
  .container-interno {
    padding: 10px;
  }
  
  .input_box input[type="text"] {
    width: 97%;
    padding: 5px;
  }
  .input_box input[type="name"] {
    width: 97%;
    padding: 5px;
    
  }
  #phone {
    width: 100%;
    padding: 7px;
    
  }
  .iti--separate-dial-code .iti__selected-flag{
    padding-top: 0.7em;
  }
  #tabs{
    margin-top: 1.0em;
  }
  .input_box label {
    top: 15%;
    font-size: 0.6em;
  }
 
  .temporizador {
    padding: 10px;
    font-size: 18px;
    
    
  }
  .material-icons-outlined {
    padding-right: 10px;
    padding-left: 10px;
  }
  #relogio {
    font-size: 22px;
  }
  .border {
    flex-wrap: wrap;
    
  }
  #tempo {
    font-size: 22px;
  }
  
  
}
